body {
  background-color: #43bab8;
}

input {
  font-size: 1em;
}

h1{
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 3em;
}

.home{
  display: block;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.searchResults {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #eee;
  grid-row-gap: 2em;
  grid-column-gap: 1em;
}

label{
  font-style: italic;
}

.joke {
  white-space: normal; 
  display: block;
  text-align: center;
  font-size: 1.5em;
}

.jokeResult {
  text-align: center;
}

.punchline {
  text-align: center;
  font-style: italic;
}


nav{
  text-align: center;
  background-color: #FE5F55;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

nav li {
  float: none;
  display: inline-block;
}

nav li a {
  display: block;
  height: 1em;
  line-height: 1em;
  color: black;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #07102D;
  color: white;
}

.active {
  background-color: #808080;
  font-weight: bold;
}


.clickable{
  align-items: center;
}

.clickable a{
  color: black;
  display: block;
  width: 100%;
}

.clickable a:link{
  text-decoration: none;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  opacity: .7;
  color: black;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: 700; 
}

@media only screen and (max-width: 1200px){

  h1 {
    font-size: 2em;
  }

  nav li {
    float: left;
    display: inline-block;
  }



}

@media only screen and (max-width: 1000px){

  h1 {
    font-size: 2em;
  }

  nav li {
    float: left;
    display: inline-block;
  }

}

@media only screen and (max-width: 800px){

  h1 {
    font-size: 2em;
  }

  nav li {
    float: left;
    display: inline-block;
  }

}

@media only screen and (max-width: 600px){



  h1 {
    font-size: 2em;
  }

  nav li {
    float: left;
    display: inline-block;
  }

}

@media only screen and (max-width: 400px){


  h1 {
    font-size: 2em;
  }

  nav li {
    float: left;
    display: inline-block;
  }

}

@media only screen and (max-height: 800px) and (max-width: 500px) {

  h1 {
    font-size: 2em;
  }

  nav li {
    float: none;
    display: inline-block;
  }

}